body {
    font-family: monospace;
    margin: 0;
}

main {
    padding: 0 20px;
}

h1 {
    color: #FFFFFF;
    background-color: #FF1B8D;
    text-align: center;
    font-size: 50px;
    margin: 0;
}

#box-model {
    color: #1BB3FF;
}

p {
    font-size: 14px;
}

.bold {
    font-weight: bold;
}

.code {
    border: 5px solid #FFDA00;
    padding: 10px;
    width: 20%;
}

img {
    margin: 20px;
    height: 400px;
}

footer {
    background-color: #FF1B8D;
    padding: 15px;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

@media (max-width: 375px) {
    h1 {
        background-color: #1BB3FF;
    }

    img {
        width: 70%;
    }
}